FORMA_HOST=127.0.0.1
FORMA_PORT=445
FORMA_PUBLICATION=fitgo
FORMA_BASE_URL=https://127.0.0.1:445/fitgo/hs/api/v3
FORMA_FITGO_URL=https://127.0.0.1:445/fitgo/hs/fitgo/v1
FORMA_LEGACY_BASE_URL=https://127.0.0.1:444/forma/hs/api/v3
FORMA_CLUB_ID=97f057be-defe-11e6-af15-784561bf6e7c
FORMA_API_KEY=9c6a9f7f-56dc-4574-b759-22d0ca69d138
FORMA_BASIC_AUTH=V29yZHByZXNzVXNlckFQSTpEaXIyITEzNTc4
FORMA_CLIENT_PASSWORD=formafit!29
FORMA_TEST_PHONE=375296600435
FORMA_TEST_EXTERNAL_ID=ff94bf6a-b4d2-11e8-80e9-7085c20c362e
PROBE_START_DATE=2026-05-21 00:00
PROBE_END_DATE=2026-05-28 00:00
CURL=C:\curl-8.20.0_3-win64-mingw\bin\curl.exe
